@page
@model MyApp.Namespace.NuevoViajeModel
@{
    ViewData["Title"] = "Agendar Viaje";
    DateTime maxDate = DateTime.Now.AddYears(1);
}
<h1>Agendar nuevo viaje</h1>
<form method="post">
    <div class="form-group">
        <p>Tramo de Viaje:
            <Select class="form-control" name="tramo" required>
                <option value="" disabled selected>--Seleccione un tramo--</option>
                @if (Model.ListaTramos == null || !Model.ListaTramos.Any())
                {
                    <option value="" disabled selected>No hay tramos disponibles.</option>
                }
                else
                {
                    @foreach (var tramo in Model.ListaTramos)
                    {
                        <option value="@tramo.Id">@tramo.Nombre</option>
                    }
                }
            </Select>
        </p>
    </div>
    @* <div class="form-group">
        <p>Ciudad de Origen:
            <input class="form-control" name="origen" required maxlength="50"/>
        </p>
    </div> *@
    <div class="form-group">
        <p>Fecha de inicio:
            <input class="form-control" type="date" name="fecha" required min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")"/>
        </p>
    </div>
    
    <div class="form-group">
        <p>Conductor:
            <select class="form-control" name="chofer" required>
                <option value="" disabled selected>--Seleccione un conductor--</option>
                @if (Model.ListaChoferes == null || !Model.ListaChoferes.Any())
                {
                    <option value="" disabled selected>No hay conductores disponibles.</option>
                }
                else
                {
                    @foreach (var conductor in Model.ListaChoferes)
                    {
                        <option value="@conductor.Id">@conductor.Nombre @conductor.Apellido</option>
                    }
                }
            </select>
        </p>
    </div>
    <div class="form-group">
        <p>Vehículo:
            <select class="form-control" name="bus" required>
                <option value="" disabled selected>--Seleccione un vehículo--</option>
                @if (Model.ListaBuses == null || !Model.ListaBuses.Any())
                {
                    <option value="" disabled selected>No hay vehículos disponibles.</option>   
                }
                else
                {
                    @foreach (var vehiculo in Model.ListaBuses)
                    {
                        <option value="@vehiculo.Id">Patente: @vehiculo.Patente | Código: @vehiculo.Codigo</option>
                    }
                }
            </select>
        </p>
    </div>
    @if ((Model.ListaChoferes == null || !Model.ListaChoferes.Any()) || (Model.ListaBuses == null || !Model.ListaBuses.Any()) || (Model.ListaTramos == null || !Model.ListaTramos.Any()))
    {
        <p class="text-danger">No se puede crear un nuevo viaje sin conductores, tramos o vehículos disponibles.</p>
        <button type="submit" class="btn btn-primary" disabled>Crear Viaje</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Guardar</button>
    }
</form>