@page
@model MyApp.Namespace.ListarBusesModel
@{
    ViewData["Title"] = "Listado de Buses";
}
<div class="container">
    <h1>Listado de Buses</h1>
    @if (Model.ListaBuses == null || !Model.ListaBuses.Any())
    {
        <p style="margin-top: 20%;text-align: center;font-weight: bold;color:red">No hay buses disponibles.</p>
    }
    else
    {
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;" class="table table-striped">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Patente</th>
                <th>Código</th>
                <th>Estado</th>
                <th>Distancia recorrida (km)</th>
                @* <th>Acciones</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var bus in Model.ListaBuses)
            {
                <tr>
                    @* <td>@bus.Id</td> *@
                    <td>@bus.Patente</td>
                    <td>@bus.Codigo</td>
                    <td>@(bus.Disponibilidad ? "Disponible" : "No Disponible")</td>
                    <td>@bus.Kilometros</td>
                    @* <td>
                        <a href="/Actualizar/ActualizarBus?id=@bus.Id">Editar</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
    }
</div>
